<!DOCTYPE html>
<html>

  <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

  <head>
    <title>TrekHunt</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <div class='logo'><a href='/'>Trek.Hunt</a></div>

          <% if current_user %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, :method => :new %>
          <% end %>
          <% if current_user %>
            <%= link_to "My Treks", '/users/current_user', :method => :get %>
          <% else %>
          <% end %>
        </ul>
      </nav>
    </header>

    <div id="map"></div>


  <%= yield %>


    <footer>
      <a href='https://github.com/Vaalys'>@GitHub</a>
    </footer>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    
  </body>
</html>
