<!DOCTYPE html>
<html>

  <link href='http://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>

  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

  <head>
    <title>TrekHunt</title>
  </head>
  <body>
      <nav>
        <ul>
          <div class='logo'><a href='/'>Trek.Hunt</a></div>

          <% if current_user %>
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path, :method => :new %>
          <% end %>

          <% if current_user %>
            <%= link_to "My Treks", '/users/current_user', :method => :get %>
          <% else %>
          <% end %>

        </ul>
      </nav>

  <%= yield %>

    <footer>
      <p>©2015</p>
      <p>Ammie Mcculloch, </p>
      <p>Powered by <a href='http://www.trailapi.com/'>Trail.API</a></p>
      <a href='https://github.com/Vaalys'>@GitHub</a>
      <a href="mailto:vaalys9@gmail.com">Vaalys9@gmail.com</a>
    </footer>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>


    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  </body>
</html>
